<!DOCTYPE html>
<html ng-app="contactsApp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Angular CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="js/controllers/controller.js"></script>



    <link rel="stylesheet" href="css/style.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
    integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!--Font Awesome-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <title><%= title %></title>
</head>
<body>
<div class="container">
    <h1><i class="fa fa-book"></i> ContactsApp</h1>

    <form name="contacts" ng-controller="AppCtrl">
    <table class="table table-hover" >
        <thead class="row">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Number</th>
            <th>Action</th>
            <th></th>

        </tr>
        </thead>

        <tbody>
        <tr>
            <td><input class="form-control" ng-model="contact.name" autofocus required/></td>
            <td><input class="form-control" ng-model="contact.email"/></td>
            <td><input class="form-control" ng-model="contact.number"/></td>
            <td>
                <button class="btn btn-primary" id="addContact" ng-hide="contact._id" ng-disabled="contacts.$error.required" ng-click="addContact()" type="submit"><i class="fa fa-plus"></i></button>
                <button class="btn btn-info" ng-hide="contact._id == null" ng-click="update()"><i class="fa fa-refresh"></i></button>
            </td>
            <td>
                <button class="btn btn-info" ng-click="deselect()"><i class="fa fa-eraser"></i></button>
            </td>
        </tr>

        <tr ng-repeat="contact in contactList">
            <td>{{contact.name}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.number}}</td>
            <td>
                <button class="btn btn-warning" ng-click="edit(contact._id)"><i class="fa fa-pencil"></i></button>
            </td>
            <td>
                <button class="btn" ng-click="remove(contact._id)"><i class="fa fa-times"></i></button>
            </td>
        </tr>
        </tbody>

    </table>
    </form>
</div>


</body>

</html>
